@model INFM201.Models.Staff

@{
    ViewBag.Title = "Set New Password";
}

<h2>Set New Password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter your new password.</h4>
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Confirm Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("ConfirmPassword", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("ConfirmPassword")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set New Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}
