@model IEnumerable<INFM201.Models.Takeaway>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Full Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            Order Items
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fullnames)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @foreach (var q in item.OrderItems)
            {
        <div>
            <strong>Item Name:</strong> @Html.DisplayFor(modelItem => q.ItemName) <br />
            <strong>Quantity:</strong> @Html.DisplayFor(modelItem => q.Quantity) <br />
        </div>}
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TakeawayID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TakeawayID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TakeawayID })
        </td>
    </tr>
}

</table>
